:root {
  --brand-1: #fc4a47;
  --brand-2: #fc636b;
  --brand-3: #fec9c8;
}
.ChatApp,
.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
  background-repeat: no-repeat;
  background-size: cover;
}
.ChatApp {
  background-color: #eeeeee;
}
.Notice {
  background-color: rgba(190, 53, 53, 0);
}
.Navbar {
  background-color: #9b9b9b;
  background-image: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
  background-position: center bottom;
  border: 0;
  box-shadow: none;
}
.QuickReplies,
.ChatFooter {
  background-color: #9b9b9b;
}
